asgiref
attrs
Babel
bcc
blinker
certifi
chardet
click
cloud-init
colorama
command-not-found
configobj
crispy-bootstrap5
cryptography
cupshelpers
dbus-python
defer
distlib
distro
distro-info
Django
django-crispy-forms
django-environ
filelock
gyp
httplib2
idna
Jinja2
jsonpatch
jsonpointer
jsonschema
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
louis
markdown-it-py
MarkupSafe
mdurl
netaddr
netifaces
oauthlib
olefile
packaging
pexpect
pillow
pipenv
platformdirs
ptyprocess
pycairo
pycups
Pygments
PyGObject
PyJWT
pyparsing
pyrsistent
pyserial
python-apt
python-dateutil
python-debian
pytz
pyxdg
PyYAML
requests
rich
setuptools
six
sqlparse
systemd-python
typing_extensions
ubuntu-drivers-common
ubuntu-pro-client
ufw
unattended-upgrades
urllib3
virtualenv
wadllib
wheel
xdg
xkit
